@font-face {
  font-family: "clock";
  src: url("./public/fonts/alarm-clock.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

body {
  width: 100%;
  max-width: 640px;
  font-size: 18px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: rgb(87, 190, 230);
}

.timerLabel {
  font-size: 6rem;
  margin: 2.5rem 0;
}

#timer-left {
  margin-bottom: 3rem;
  font-size: 9rem;
  font-family: "clock";
  transition: color 0.3s;
}

.active {
  color: rgb(200, 0, 0);
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
}

#start_stop, #reset {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  padding: 0.6rem 0.8rem;
  font-size: 1.1rem;
}

#start_stop {
  background: rgb(0, 0, 0);
  border-radius: 5px 0 0 5px;
  color: #c0c0c0;
}

#reset {
  background: rgb(250, 40, 40);
  border-radius: 0 5px 5px 0;
  color: #111;
}

#start_stop:hover, #start_stop:focus {
  color: #dcdcdc;
}

#reset:hover, #reset:focus {
  color: #000;
}

.settingsContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
}

.settingsContainerMid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.settingsContainerIn {
  display: flex;
  flex-flow: row nowrap;
}

#break-label, #session-label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.breakLength, .sessionLength {
  font-family: "clock";
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
  width: 70px;
  text-align: center;
}

.btnCounter {
  display: flex;
  width: 45px;
  height: 45px;
  font-size: 1.55rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: rgb(0, 20, 165);
  border: 2px solid #c0c0c0;
  color: #c0c0c0;
  cursor: pointer;
}

.btnCounter:hover, .btnCounter:focus {
  color: #d0d0d0;
  border: 2px solid #d0d0d0;
}

#break-decrement, #session-decrement {
  border-radius: 5px 0 0 5px;
}

#break-increment, #session-increment {
  border-radius: 0 5px 5px 0;
}

/* I know, not mobile first xD  */

@media(max-width: 500px) {
  .timerLabel {
    font-size: 4.5rem;
    margin: 1.75rem 0;
  }
  #timer-left {
    margin-bottom: 2rem;
    font-size: 7rem;
  }
  #start_stop, #reset {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
  }
  #break-label, #session-label {
    font-size: 1.75rem;
  }
  .breakLength, .sessionLength {
    font-size: 2.75rem;
  }
  .btnCounter {
    width: 50px;
    height: 50px;
    font-size: 1.75rem;
  }
}